<style type="text/css">
label { display: block;}
input { margin-bottom: 20px;}
</style>
<%  if @department.errors.any? %>
<div class="alert alert.error">
	<h5>There were some errors!</h5>
		<ul>
			<%  @department.errors.full_messages.each do |msg| %>
			<li><%  msg %></li>
			<%  end %>
		</ul>
</div>
<%  end %>


<%= form_for @department do |f| %>
<div class="well control-group">
	   
 
	<%= f.label :name, 'Department name' %>
	<%= f.text_field :name, :size => 15, autofocus: true %><br>

	<%= f.label :list_order, 'List order' %>
	<%= f.text_field :list_order %><br>

	 </div>

	<%= f.submit(@department.new_record? ? 'Create Department' : 'Update Department', class: 'btn btn-primary') %>

<% end %>